a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}

li {
  line-height: initial;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  background-color: var(--primary-background-color);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.global-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  color: var(--title-color);
  text-align: center;
  min-width: 264px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .global-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --primary-color: #757575;
  --title-color: #212121;
  --accent-color: #2196F3;
  --white-font-color: #FFFFFF;
  --header-logo-color: #4e2d2d;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --primary-background-color: #FFFFFF;
  --secondary-background-color: #F5F4FA;
  --hero-footer-background-color: #2F303A;
  --hero-background-color: #C4C4C4;
  --active-btn: #188CE8;
  --card-border: #EEEEEE;
  --border-line: #ECECEC;
  --icon-color: #AFB1B8;
}

.visually-hidden, .portfolio__title, .features__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.common-button {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  color: var(--white-font-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.common-button:hover,
.common-button:focus {
  background-color: var(--active-btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.common-button--hero {
  padding: 10px 24px;
}
@media screen and (min-width: 1200px) {
  .common-button--hero {
    padding: 10px 32px;
  }
}

.common-button--subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 28px 10px 31px;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-background-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
}
.socials__link:hover .socials__icon, .socials__link:focus .socials__icon {
  fill: var(--white-font-color);
}
.socials__item:not(:last-child) {
  margin-right: 10px;
}
.socials__icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link--footer {
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__icon--footer {
  fill: var(--white-font-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.header__logo {
  padding: 16px 0;
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding: 26px 0;
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    padding: 24px 0 25px;
    margin-right: 93px;
  }
}

.header__logo--inverse {
  color: var(--header-logo-color);
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__logo--inverse {
  color: var(--white-font-color);
}

.header {
  border-bottom: 1px solid var(--border-line);
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
}
.nav__list {
  display: none;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
  }
}
.nav__link {
  position: relative;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  color: var(--title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link--active {
  color: var(--accent-color);
}
.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link--active::after, .nav__link:hover::after, .nav__link:focus::after {
  background-color: var(--accent-color);
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.connect {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .connect {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .connect {
    display: flex;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1200px) {
  .connect__item:first-child {
    margin-right: 50px;
  }
}
.connect__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  padding: 5px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .connect__link {
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.14;
  }
}
.connect__link:hover, .connect__link:focus {
  color: var(--accent-color);
}
.connect__icon {
  fill: currentColor;
  margin-right: 10px;
}
.connect__icon--mail {
  width: 14px;
  height: 10px;
}
@media screen and (min-width: 1200px) {
  .connect__icon--mail {
    width: 16px;
    height: 12px;
  }
}
.connect__icon--tel {
  width: 10px;
  height: 14px;
}
@media screen and (min-width: 1200px) {
  .connect__icon--tel {
    width: 10px;
    height: 16px;
  }
}

.menu__btn {
  position: relative;
  display: block;
  border: none;
  background-color: transparent;
  padding: 0;
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .menu__btn {
    display: none;
  }
}
.menu__btn--close {
  position: absolute;
  top: 10px;
  right: 15px;
}
.menu__icon {
  fill: var(--title-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__icon:hover {
  cursor: pointer;
}
.menu__btn--close:hover .menu__icon, .menu__btn--close:focus .menu__icon {
  fill: var(--accent-color);
}

.mob-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-background-color);
  z-index: 3;
  padding: 48px 40px;
  transform: translateX(0);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}
.mob-menu.is-hidden {
  opacity: 0.6;
  transform: translateX(100%);
  pointer-events: none;
}
.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.mob-menu__link--current {
  color: var(--accent-color);
}

.mob-connect {
  margin-bottom: 64px;
}
.mob-connect__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-connect__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
}
.mob-connect__link--accent {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mob-socials {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.mob-socials__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mob-socials__link {
  font-weight: 500;
  font-size: 18px;
  line-height: var(22/18);
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.hero {
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0;
  text-align: center;
  max-width: 480px;
  max-height: 400px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mob/web-team-mob.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--hero-background-color);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mob/web-team-mob-retina.jpg);
  }
}
@media screen and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tab/web-team-tab.jpg);
    max-width: 768px;
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tab/web-team-tab-retina.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desc/web-team-desc.jpg);
    max-width: 1600px;
    max-height: 600px;
    padding: 200px 0;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desc/web-team-desc-retina.jpg);
  }
}
.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-font-color);
  margin: 0 auto 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
  overflow-y: scroll;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px 40px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: calc(100% - 30px);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-background-color);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #000000;
  background-color: var(--primary-background-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-button:hover, .modal__close-button:focus {
  fill: var(--accent-color);
  cursor: pointer;
}

.order {
  display: flex;
  flex-direction: column;
}
.order__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .order__title {
    line-height: 1.15;
  }
}
.order__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
  margin-bottom: 4px;
}
.order__input-wrap {
  position: relative;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}
.order__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--title-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order__input:hover + .order__icon, .order__input:focus + .order__icon {
  fill: var(--accent-color);
}
.order__input {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.17;
  font-size: 12px;
  letter-spacing: 0.01em;
  width: 100%;
  height: 40px;
  padding: 0 16px 0 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  z-index: 2;
}
.order__input:hover, .order__input:focus {
  outline: transparent;
  border-color: var(--accent-color);
  cursor: pointer;
}
.order__textarea {
  position: static;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
}
.order__checkbox-label {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .order__checkbox-label {
    font-size: 14px;
    line-height: 1.71;
    justify-content: center;
  }
}
.order__checkbox-label__te {
  background-color: transparent;
}
.order__checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  left: 63px;
  width: 16px;
  height: 15px;
}
.order__icon-checkbox {
  width: 23px;
  height: 15px;
  background-image: url(../images/checkbox.svg);
  background-repeat: no-repeat;
}
.order__checkbox-input:checked + .order__icon-checkbox {
  background-image: url(../images/checkbox-checked.svg);
  background-repeat: no-repeat;
}
.order__checkbox-input:focus {
  outline: transparent;
}
.order__agreement_link {
  text-decoration: underline;
  color: var(--active-btn);
}
.order__submit-btn-wrap {
  display: flex;
  justify-content: center;
}
.order__common-button {
  padding: 10px 52px;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.features__card {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .features__card {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__card {
    width: calc((100% - 90px) / 4);
  }
}
.features__thumb-wrap {
  text-align: center;
  padding: 25px 0;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--secondary-background-color);
}
.features__icon {
  width: 70px;
  height: 70px;
}
.features__subtitle {
  text-align: center;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .features__subtitle {
    text-align: left;
  }
}
.features__description {
  text-align: left;
  line-height: 1.71;
}

.services {
  display: none;
  padding-top: 0;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .services {
    display: contents;
  }
}
.services__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.services__wrap {
  position: relative;
}
.services__image {
  display: block;
  width: 100%;
}
.services__label {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  text-align: center;
  padding: 27px 0;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-font-color);
  background-color: rgba(47, 48, 58, 0.8);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.team {
  background-color: var(--secondary-background-color);
}
.team__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.team__card {
  width: 100%;
  text-align: center;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-background-color);
}
@media screen and (min-width: 768px) {
  .team__card {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__card {
    width: calc((100% - 90px) / 4);
  }
}
.team__member-image {
  width: 100%;
  display: block;
}
.team__meta {
  padding: 30px 0;
}
.team__member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-color);
  margin-bottom: 10px;
}
.team__member-position {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.clients__item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}
.clients__link {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  height: auto;
  color: var(--icon-color);
  background-color: var(--primary-background-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.clients__icon {
  fill: currentColor;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 40px;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}
.filter__button {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  border-radius: 4px;
  padding: 6px 22px;
  border-style: none;
  color: var(--title-color);
  background-color: var(--secondary-background-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover, .filter__button:focus {
  color: var(--white-font-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.samples {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.samples__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.samples__link:hover,
.samples__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.samples__image-warp {
  position: relative;
  overflow: hidden;
}

.samples__image {
  display: block;
  width: 100%;
}

.samples__text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.55;
  text-align: left;
  padding: 63px 24px;
  color: var(--white-font-color);
  background-image: linear-gradient(to right, rgba(33, 150, 243, 0.9), rgba(33, 150, 243, 0.9));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.samples__link:hover .samples__text-overlay,
.samples__link:focus .samples__text-overlay {
  transform: translateY(0);
}

.samples__meta {
  width: 100%;
  border: 1px solid var(--card-border);
  border-top: none;
  background-color: var(--primary-background-color);
  padding: 20px 24px;
}

.samples__subtitle {
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

.samples__description {
  width: 100%;
  font-size: 16px;
  line-height: 1.87;
  text-align: left;
}

.footer {
  background-color: var(--hero-footer-background-color);
}
.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 60px 15px;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    justify-content: flex-start;
    align-items: baseline;
    text-align: left;
    gap: 0;
  }
}
.footer__wrap {
  min-width: 231px;
}
@media screen and (min-width: 1200px) {
  .footer__wrap {
    margin-right: 70px;
  }
}

.contacts__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 9px;
  }
}
.contacts__link {
  display: inline-block;
  font-style: normal;
  line-height: 1.71;
  color: var(--footer-contacts-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link--color {
  color: var(--white-font-color);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .join {
    margin-right: 93px;
  }
}
.join__text {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--white-font-color);
}

.subscribe__text {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--white-font-color);
}
.subscribe__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 450px;
}
@media screen and (min-width: 1200px) {
  .subscribe__form {
    max-width: 100%;
    justify-content: space-between;
    gap: 12px;
  }
}
.subscribe__input {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-font-color);
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .subscribe__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
  }
}
.subscribe__icon {
  fill: currentColor;
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */