html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* font primary and buttons color #757575 */
/* font title color #212121 */
/* white font color #FFFFFF */
/* accent color #2196F3 */
/* header logo font #000000 */
/* footer contacts font rgba(255, 255, 255, 0.6) */

/* primary background color #FFFFFF */
/* secondary background color #F5F4FA */
/* hero and footer background color #2F303A */
/* active btn #188CE8 */

:root {
  --primary-color: #757575;
  --title-color: #212121;
  --accent-color: #2196F3;
  --white-font-color: #FFFFFF;
  --header-logo-color: #4e2d2d;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --primary-background-color: #FFFFFF;
  --secondary-background-color: #F5F4FA;
  --hero-footer-background-color: #2F303A;
  --hero-background-color: #C4C4C4;
  --active-btn: #188CE8;
  --card-border: #EEEEEE;
  --border-line: #ECECEC;
  --icon-color: #AFB1B8;
}


body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  background-color: var(--primary-background-color);
}




.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}

li {
  line-height: initial;
}


/*---------------------------- Header--------------------------- */

.header {
  height: 80px;
  border-bottom: 1px solid var(--border-line);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
}

.logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.header__logo {
  padding: 24px 0 25px;
  margin-right: 93px;
}

.header__logo--inverse {
  color: var(--header-logo-color);
}

.menu {
  display: flex;
  align-items: center;
}

.menu__link {
  position: relative;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  color: var(--title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__nav-link--active {
  color: var(--accent-color);
}

.menu__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0; 
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link--active::after,
.menu__link:hover::after,
.menu__link:focus::after {
  background-color: var(--accent-color);
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link:hover,
.menu__link:focus {
  color: var(--accent-color);
}

.connect {
  display: flex;
  align-items: center;
}

.connect__item:first-child {
  margin-right: 50px;
}

.connect__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connect__link:hover,
.connect__link:focus {
  color: var(--accent-color);
}

.connect__icon {
  fill: currentColor;
  margin-right: 10px;
}

/*-----------------------------Studio page-Hero------------------------------- */

.hero {
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;
  text-align: center;
  max-width: 1600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/web-team.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--hero-background-color);
}

.hero__title {
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-font-color);
  min-width: 696px;
  margin: 0 auto 30px;
}

.hero-photo {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/web-team.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero .btn {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  min-width: 216px;
  border-radius: 4px;
  border-style: none;
  padding: 10px 32px;
  color: var(--white-font-color);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero .btn:hover,
.hero .btn:focus {
  background-color: var(--active-btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px 40px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-background-color);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #000000;
  background-color: var(--primary-background-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  fill: var(--accent-color);
  cursor: pointer;
}

.modal-wrap {
  display: flex;
  flex-direction: column;
}

.description-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 12px;
}

.modal-wrap .label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  text-align: left;
  margin-bottom: 4px;
}

.input-wrap {
  position: relative;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--title-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.17;
  font-size: 12px;
  letter-spacing: 0.01em;
  width: 100%;
  height: 40px;
  padding: 0 16px 0 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  z-index: 2;
}

.textarea.input {
  position: static;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
}

.checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.71;
  margin-bottom: 30px;
}

.checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  left: 63px;
  width: 16px;
  height: 15px;
}

.input:hover,
.input:focus {
  outline: transparent;
  border-color: var(--accent-color);
  cursor: pointer;
}

.input:hover+.modal-icon,
.input:focus+.modal-icon {
  fill: var(--accent-color);
}

.icon-checkbox {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  background-image: url(../images/checkbox.svg)
}

.checkbox-input:checked + .icon-checkbox {
  background-image: url(../images/checkbox-checked.svg);
}

.checkbox-input:focus {
  outline: transparent;
}

.user_agreement_link {
  text-decoration: underline;
  color: var(--active-btn);
}

.submit-button-wrap {
  display: flex;
  justify-content: center;
}

.modal-wrap .submit-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 52px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-font-color);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-wrap .submit-button:hover,
.modal-wrap .submit-button:focus {
  background-color: var(--active-btn);
  cursor: pointer;
}

/*-----------------------Studio page - Features----------------------------------*/


/*!-- h2 Особливості скритий-->*/
.features__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features__list {
  display: flex;
}

.features__card:not(:last-child) {
  margin-right: 30px;
}

.features__thumb-wrap {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  text-align: center;
  padding: 25px 0;
  background-color: var(--secondary-background-color);
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__subtitle {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
  color: var(--title-color);
  width: 270px;
  margin-bottom: 10px;
}

.features__description {
  line-height: 1.71;
  text-align: left;
  width: 270px;
}

/* -------------------------Studio page - Services------------------------------ */

.services {
  padding-top: 0;
  text-align: center;
}

.services__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--title-color);
  text-align: center;
  min-width: 366px;
  margin-bottom: 50px;
}

.services__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.services__wrap {
  position: relative;
}

.services__image {
  display: block;
}

.services__label {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  text-align: center;
  padding: 27px 0;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-font-color);
  background-color: rgba(47, 48, 58, 0.8);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*------------------------- Studio page - Team---------------------------------- */

.team {
  background-color: var(--secondary-background-color);
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--title-color);
  text-align: center;
  min-width: 264px;
  margin-bottom: 50px;
}

.team__card-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.team__card {
  width: 270px;
  text-align: center;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-background-color);
}

.team__member-image {
  display: block;
}

.team__meta {
  padding: 30px 0;
}

.team__member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-color);
  margin-bottom: 10px;
}

.team__member-position {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}


/*--------------Social media Icons--------------*/


.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-background-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover,
.socials__link:focus {
  background-color: var(--accent-color);
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: var(--white-font-color)
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link--footer {
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__icon--footer {
  fill: var(--white-font-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*--------------------Studio page - Clients-------------------*/

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
  color: var(--title-color);
}

.clients__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: var(--icon-color);
  background-color: var(--primary-background-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

/* ------------------------Portfolio page - Buttons--------------------------------- */

.portfolio__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio__filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio__filter:not(:last-child) {
  margin-right: 8px;
}

.portfolio__button {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  border-radius: 4px;
  padding: 6px 22px;
  border-style: none;
  color: var(--title-color);
  background-color: var(--secondary-background-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__button:hover,
.portfolio__button:focus {
  color: var(--white-font-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* ----------------------Portfolio - work samples--------------------------------- */

/*-- h1 Портфоліо скритий--*/

.portfolio__cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px; 
}

.portfolio__card-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__card-link:hover,
.portfolio__card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__image-warp {
  position: relative;
  overflow: hidden;
}

.portfolio__card-image {
  display: block;
}

.portfolio__card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.55;
  text-align: left;
  padding: 63px 24px;
  color: var(--white-font-color);
  background-image: linear-gradient(to right, rgba(33, 150, 243, 0.9), rgba(33, 150, 243, 0.9));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: auto;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__card-link:hover .portfolio__card-overlay,
.portfolio__card-link:focus .portfolio__card-overlay {
  transform: translateY(0);
}

.portfolio__meta {
  width: 370px;
  border: 1px solid var(--card-border);
  border-top: none;
  background-color: var(--primary-background-color);
  padding: 20px 24px;
}

.portfolio__subtitle {
  width: 322px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

.portfolio__description {
  width: 322px;
  font-size: 16px;
  line-height: 1.87;
  text-align: left;
}


/* ------------------------------Footer------------------------------------- */

.footer {
  background-color: var(--hero-footer-background-color);
}

.footer__container {
  display: flex;
  align-items: baseline;
  padding: 60px 15px;
}

.footer__wrap {
  min-width: 231px;
  margin-right: 70px;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__logo--inverse {
  color: var(--white-font-color);
}

.contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.contacts__link {
  display: inline-block;
  font-style: normal;
  line-height: 1.71;
  color: var(--footer-contacts-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link--color {
  color: var(--white-font-color);
}
 
.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

.footer__join-warp {
  margin-right: 93px;
}

.footer__join-text {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--white-font-color);
}


.subscribe__text {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--white-font-color)
}

.subscribe__form {
  display: flex;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-font-color);
  background-color: transparent;
}

.subscribe__button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 28px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-font-color);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__button:hover,
.subscribe__button:focus {
  background-color: var(--active-btn);
  cursor: pointer;
}

.subscribe__icon {
  fill: currentColor;
  margin-left: 10px;
}