.features {

  &__title {
    @extend .visually-hidden;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  &__card {
    width: 100%;
    height: auto;
    @media screen and(min-width: 768px) {
      width: calc((100% - 30px) / 2);
    }
    @media screen and(min-width: 1200px) {
      width: calc((100% - 90px) / 4);
    }
  }

  &__thumb-wrap {
    text-align: center;
    padding: 25px 0;
    border-radius: 4px;
    margin-bottom: 30px;
    background-color: var(--secondary-background-color);
  }
  
  &__icon {
    width: 70px;
    height: 70px;
  }

  &__subtitle {
    text-align: center;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-color);
    margin-bottom: 10px;
    @media screen and(min-width: 768px) {
      text-align: left;
    }
  }

  &__description {
    text-align: left;
    line-height: 1.71;
  }
}