.features {
  margin-left: auto;
  margin-right: auto;

  &__title {
    @extend .visually-hidden;
  }

  &__list {
    display: flex;
  }

  &__card:not(:last-child) {
    margin-right: 30px;
  }

  &__thumb-wrap {
    width: 270px;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    text-align: center;
    padding: 25px 0;
    background-color: var(--secondary-background-color);
  }

  &__icon {
    width: 70px;
    height: 70px;
  }

  &__subtitle {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: left;
    color: var(--title-color);
    width: 270px;
    margin-bottom: 10px;
  }

  &__description {
    line-height: 1.71;
    text-align: left;
    width: 270px;
  }
}