.hero {
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0;
  text-align: center;
  max-width: 480px;
  max-height: 400px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url(../images/mob/web-team-mob.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
       url(../images/mob/web-team-mob-retina.jpg);
    }
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--hero-background-color);
  @media screen and(min-width: 480px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/tab/web-team-tab.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url(../images/tab/web-team-tab-retina.jpg);
      }
    max-width: 768px;
    }

  @media screen and(min-width: 768px) {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url(../images/desc/web-team-desc.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/desc/web-team-desc-retina.jpg);
    }
  max-width: 1600px;
  max-height: 600px;
  padding: 200px 0;
  }

  &__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-font-color);
    margin: 0 auto 30px;
    @media screen and(min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}