.services {
  display: none;
  padding-top: 0;
  text-align: center;
  @media screen and(min-width: 1200px) {
    display: contents;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  &__wrap {
    position: relative;
  }

  &__image {
    display: block;
  }

  &__label {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    text-align: center;
    padding: 27px 0;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-font-color);
    background-color: rgba(47, 48, 58, 0.8);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}