.team {
  background-color: var(--secondary-background-color);

  &__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__card {
    width: 100%;
    text-align: center;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--primary-background-color);
    @media screen and(min-width: 768px) {
      width: calc((100% - 30px) / 2);
    }
    @media screen and(min-width: 1200px) {
      width: calc((100% - 90px) / 4);
    }
  }

  &__member-image {
    width: 100%;
    display: block;
  }

  &__meta {
    padding: 30px 0;
  }

  &__member-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--title-color);
    margin-bottom: 10px;
  }

  &__member-position {
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 16px;
  }
}