.socials {
  display: flex;
  justify-content: center;
  align-items: center;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--primary-background-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    background-color: var(--accent-color);
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: var(--white-font-color)
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__icon {
    fill: var(--icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link--footer {
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon--footer {
    fill: var(--white-font-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}